.container {
  @apply flex items-center p-4 bg-gray-800 text-white w-screen;

  .logo {
    @apply flex items-end justify-center px-8 cursor-pointer;

    &__image {
      width: 50px;
      height: 50px;
    }

    &__text {
      @apply text-2xl font-bold px-4;

      font-family: Bangers, sans-serif;
      letter-spacing: 0.2em;

      @media (max-width: 400px) {
        @apply text-base;
      }
    }
  }
}