.container {
  @apply flex justify-center mt-4 mb-8;

  .wrapper {
    @apply flex;

    .page {
      @apply text-gray-800 h-12 bg-white px-4 py-2 rounded cursor-pointer transition-colors hover:bg-gray-200;

      &__selected {
        @apply bg-gray-800 h-12 text-white;
      }
    }

    .previous_button {
      @apply rounded-l-md px-4 py-2 focus:outline-none mr-4;
    }

    .next_button {
      @apply rounded-r-md px-4 py-2 focus:outline-none ml-4;
    }

    button {
      @apply w-[50px] h-12 bg-gray-800 text-white hover:bg-gray-500;
    }

    @media (max-width: 500px) {
      & {
        @apply gap-2 ml-2 mr-2;
      }

      .page,
      .previous_button,
      .next_button,
      button {
        @apply text-xs px-2 py-1 rounded-sm;
      }
    }
  }
}