.container {
  @apply w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-4 cursor-pointer hover:scale-110;

  .card {
    @apply bg-white rounded-lg shadow-lg p-4;

    &__image {
      @apply w-full max-w-full h-auto bg-gray-300;
    }

    &__name {
      @apply text-lg font-bold mt-2;
    }

    &__types {
      @apply text-gray-500 text-right;

      &__item {
        @apply ml-1 mr-1 text-white overflow-y-hidden rounded pl-2 pr-2;
      }
    }

    &__props {
      @apply flex justify-between items-center bg-gray-800 text-white pl-2 pr-2;

      &__id {
        @apply text-sm;
      }

      &__experience {
        @apply text-sm;
      }
    }
  }
}