.container {
  @apply flex justify-center items-center;

  .wrapper {
    @apply flex mt-8 space-x-4 pl-2 pr-2;

    .input {
      @apply p-2 w-[300px] mb-4 h-12 border border-gray-400 rounded focus:outline-none;
    }

    .button {
      @apply px-4 h-12 bg-gray-800 text-white opacity-100 hover:bg-gray-500 text-white rounded cursor-pointer;
    }
  }
}