.container {
  @apply flex p-8 rounded-lg shadow-lg;

  @media (max-width: 767px) {
    @apply flex-col;
  }

  .left {
    @apply flex-1 pr-8 w-4/5 h-full;

    @media (max-width: 767px) {
      @apply w-full;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .fadeIn {
      animation: fadeIn 0.5s ease-in-out;
    }

    .mainImage {
      @apply w-[60%] bg-gray-200 rounded;
    }

    .otherImages {
      @apply flex w-[60%] mt-2 space-x-2;

      &__item {
        @apply w-[25%] cursor-pointer bg-gray-200 rounded;
      }
    }
  }

  .right {
    @apply w-1/2 flex items-center flex-col;

    @media (max-width: 767px) {
      @apply mt-8 w-full;
    }

    .id {
      @apply text-gray-500 mr-2 text-2xl;

      @media (max-width: 767px) {
        @apply text-xl;
      }
    }

    .name {
      @apply text-3xl font-bold;

      @media (max-width: 767px) {
        @apply text-2xl;
      }
    }

    .types {
      @apply text-xl ml-2 text-white;

      &__item {
        @apply ml-1 mr-1 text-white overflow-y-hidden rounded pl-2 pr-2;
      }
    }

    .table {
      @apply w-full mt-8 border-green-300;

      @media (max-width: 767px) {
        @apply mt-2;
      }

      td {
        @apply py-2 px-4 border border-gray-300 p-4 text-center;
      }

      &__cellKey {
        @apply bg-gray-200 font-bold;
      }

      &__cellValue {
        @apply py-2 px-4 bg-gray-100;
      }
    }

    .button {
      @apply mt-4 p-2 bg-gray-800 text-white rounded hover:bg-gray-500;
    }
  }
}